svg.search-icon {
    font-size: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 4px;
}
.search-input-box {
    height: 50px;
    width: 350px;
    max-width: 90vw;
    border-radius: 32px;
    outline: none;
    display: flex;
    flex-direction: row;
    padding: 8px 0;

    .input-wrapper {
        padding: 0 16px;
        flex-grow: 1;
    }
    .search-input {
        width: 100%;
        font-size: 24px;
        line-height: 24px;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }
}