@mixin LayoutColumn() {
    flex: 1 1 100px;
    min-width: 300px;
    max-width: 450px;
    max-height: 70vh;
    overflow: hidden;
    &.layout--column__scrollable{
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 24px;
        margin-bottom: 24px;
    }
}